[Unit]
Description=CoreFreq Daemon

[Service]
Type=simple
ExecStart=/usr/bin/corefreqd -q
ExecStop=/bin/kill -QUIT $MAINPID
RemainAfterExit=no
SuccessExitStatus=SIGQUIT SIGUSR1 SIGTERM
Slice=-.slice

[Install]
WantedBy=multi-user.target
