[Unit]
Description=Update NetBird Docker Compose images
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ netbird_base_dir }}
ExecStart=/usr/bin/docker compose -p netbird -f {{ netbird_compose_file }} pull
ExecStart=/usr/bin/docker compose -p netbird -f {{ netbird_compose_file }} up -d --remove-orphans
