---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_ipaddresspool_name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for pool in metallb_address_pools %}
    - {{ pool }}
{% endfor %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ metallb_l2advertisement_name }}
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
    - {{ metallb_ipaddresspool_name }}
