APT::Periodic::Update-Package-Lists "{{ common_apt_update_interval if common_enable_unattended_upgrades | bool else 0 }}";
APT::Periodic::Unattended-Upgrade "{{ common_apt_unattended_upgrade_interval if common_enable_unattended_upgrades | bool else 0 }}";
APT::Periodic::AutocleanInterval "{{ common_apt_autoclean_interval if common_enable_unattended_upgrades | bool else 0 }}";
