// /etc/apt/apt.conf.d/50unattended-upgrades
// Managed by Ansible

Unattended-Upgrade::Origins-Pattern {
{% for origin in common_unattended_upgrades_origins %}
        "{{ origin }}";
{% endfor %}
};

Unattended-Upgrade::Package-Blacklist {
{% for package in common_unattended_upgrades_blacklist %}
        "{{ package }}";
{% endfor %}
};

Unattended-Upgrade::Automatic-Reboot "{{ common_unattended_upgrades_auto_reboot | default(false) | bool | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ common_unattended_upgrades_reboot_time | default('02:00') }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
