POSTGRES_USER={{ audiomuse_postgres_user }}
POSTGRES_PASSWORD={{ audiomuse_secrets.audiomuse_postgres_password }}
POSTGRES_DB={{ audiomuse_postgres_database }}
JWT_SECRET={{ audiomuse_secrets.audiomuse_jwt_secret }}
TZ={{ audiomuse_timezone }}
