[defaults]
inventory = ./inventories
roles_path = ./roles:./roles/vms
collections_path = $HOME/.ansible/collections:/usr/share/ansible/collections:/usr/lib/python3.14/site-packages
remote_tmp = /tmp/.ansible-${USER}/tmp
timeout = 30
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
